<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://jamesdmosier.com" class="navbar-brand">James Mosier</a>
        </div>
        <div class="navbar-collapse collapse" id="main-nav">
            <nav class="navbar-logo">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Expenses</a></li>
                    <li><a href="#/admin">Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>